
@{
    ViewBag.Title = "Gallery";
}

@section PageHeader {
    <div class="page-header">
        <h1>
            Ảnh
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>

                Photo library
            </small>
        </h1>
    </div><!-- /.page-header -->
}

<div>
    <ul class="ace-thumbnails clearfix">
        

        <li>
            <a href="~/Content/assets/images/Slidephu.jpg" data-rel="colorbox">
                <img width="150" height="150" alt="150x150" src="~/Content/assets/images/Slidephu.jpg" />
                <div class="text">
                    <div class="inner">Sample Caption on Hover</div>
                </div>
            </a>
        </li>

        <li>
            <a href="~/Content/assets/images/slideT.jpg" data-rel="colorbox">
                <img width="150" height="150" alt="150x150" src="~/Content/assets/images/slideT.jpg" />
                <div class="text">
                    <div class="inner">Sample Caption on Hover</div>
                </div>
            </a>

            <div class="tools tools-bottom">
                <a href="#">
                    <i class="ace-icon fa fa-link"></i>
                </a>

                <a href="#">
                    <i class="ace-icon fa fa-paperclip"></i>
                </a>

                <a href="#">
                    <i class="ace-icon fa fa-pencil"></i>
                </a>

                <a href="#">
                    <i class="ace-icon fa fa-times red"></i>
                </a>
            </div>
        </li>

        <li>
            <a href="~/Content/assets/images/Slidephu.jpg" data-rel="colorbox">
                <img width="150" height="150" alt="150x150" src="~/Content/assets/images/Slidephu.jpg" />
                <div class="tags">
                    <span class="label-holder">
                        <span class="label label-info arrowed">fountain</span>
                    </span>

                    <span class="label-holder">
                        <span class="label label-danger">recreation</span>
                    </span>
                </div>
            </a>

            <div class="tools tools-top">
                <a href="#">
                    <i class="ace-icon fa fa-link"></i>
                </a>

                <a href="#">
                    <i class="ace-icon fa fa-paperclip"></i>
                </a>

                <a href="#">
                    <i class="ace-icon fa fa-pencil"></i>
                </a>

                <a href="#">
                    <i class="ace-icon fa fa-times red"></i>
                </a>
            </div>
        </li>

        <li>
            <div>
                <img width="150" height="150" alt="150x150" src="~/Content/assets/images/slide333.jpg" />
                <div class="text">
                    <div class="inner">
                        <span>Some Title!</span>

                        <br />
                        <a href="~/Areas/admincp/assets/images/gallery/image-5.jpg" data-rel="colorbox">
                            <i class="ace-icon fa fa-search-plus"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-user"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-share"></i>
                        </a>
                    </div>
                </div>
            </div>
        </li>

        <li>
            <a href="~/Content/assets/images/saleshoppe.jpg" data-rel="colorbox">
                <img width="150" height="150" alt="150x150" src="~/Content/assets/images/saleshoppe.jpg" />
            </a>

            <div class="tools tools-right">
                <a href="#">
                    <i class="ace-icon fa fa-link"></i>
                </a>

                <a href="#">
                    <i class="ace-icon fa fa-paperclip"></i>
                </a>

                <a href="#">
                    <i class="ace-icon fa fa-pencil"></i>
                </a>

                <a href="#">
                    <i class="ace-icon fa fa-times red"></i>
                </a>
            </div>
        </li>

        <li>
            <a href="~/Content/assets/images/sale1111.png" data-rel="colorbox">
                <img width="150" height="150" alt="150x150" src="~/Content/assets/images/sale1111.png" />
            </a>

            <div class="tools">
                <a href="#">
                    <i class="ace-icon fa fa-link"></i>
                </a>

                <a href="#">
                    <i class="ace-icon fa fa-paperclip"></i>
                </a>

                <a href="#">
                    <i class="ace-icon fa fa-pencil"></i>
                </a>

                <a href="#">
                    <i class="ace-icon fa fa-times red"></i>
                </a>
            </div>
        </li>

        <li>
            <a href="~/Content/assets/images/bannerchitiet2.jpg" data-rel="colorbox">
                <img width="150" height="150" alt="150x150" src="~/Content/assets/images/bannerchitiet2.jpg" />
            </a>

            <div class="tools tools-top in">
                <a href="#">
                    <i class="ace-icon fa fa-link"></i>
                </a>

                <a href="#">
                    <i class="ace-icon fa fa-paperclip"></i>
                </a>

                <a href="#">
                    <i class="ace-icon fa fa-pencil"></i>
                </a>

                <a href="#">
                    <i class="ace-icon fa fa-times red"></i>
                </a>
            </div>
        </li>

        <li>
            <a href="~/Content/assets/images/banner1.png" data-rel="colorbox">
                <img width="150" height="150" alt="150x150" src="~/Content/assets/images/banner1.png" />
            </a>

            <div class="tools tools-top in">
                <a href="#">
                    <i class="ace-icon fa fa-link"></i>
                </a>

                <a href="#">
                    <i class="ace-icon fa fa-paperclip"></i>
                </a>

                <a href="#">
                    <i class="ace-icon fa fa-pencil"></i>
                </a>

                <a href="#">
                    <i class="ace-icon fa fa-times red"></i>
                </a>
            </div>
        </li>
    </ul>
</div>

